*.wasm
*.abi
build/CMakeFiles/*
build/kata1/*
build/kata1_project-prefix/*
build/kata1_test_project-prefix/*
build/tests/CMakeFiles/*
build/tests/cmake_install.cmake
build/tests/CMakeCache.txt
build/tests/CTestTestfile.cmake
build/tests/kata1_test
build/tests/Makefile
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
kata1/*
CTestTestfile.cmake
DartConfiguration.tcl
.vscode/*
build/tests/contracts.hpp
